h2 {
  color: green;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.container {
  width: 1000px;
  height: 300px;
  border: 3px solid palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: plum;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt {
  color: red;
  font-size: 100px;
}
